<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162407581126-8err8n3rnn4sc0b0agm3al158d1f1eft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162407581126-8err8n3rnn4sc0b0agm3al158d1f1eft</string>
	<key>API_KEY</key>
	<string>AIzaSyBWSmUY9ryDSNCilbAuxmmSVq4vPj2-N9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>162407581126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>note-8864b</string>
	<key>STORAGE_BUCKET</key>
	<string>note-8864b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162407581126:ios:b7fe833a4c6a241e351ec7</string>
</dict>
</plist>